.popucard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 13rem;
    height: auto;
    
    &__img{
        height: 350px;
        width: 240px;
        
    }
}

@media only screen and (max-width : 394px) {
    .popucard{
        display: flex;
        align-items: center;
        justify-content:space-between;
        flex-direction: column;
        width: 70px;
        height: 250px;
        
        
       
        &__img{
            height: 180px;
            width: 90px;
            margin-top: 1rem;
        }
    }
    }