.indexado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    &__paginacion{
        display: flex;
        align-items: center;
       justify-content: center;
       flex-direction: row;
       color: white;
       p{
         color: white;
         text-decoration: none;
         box-shadow: 0 0 1px 1px white;
         padding: 0.4rem;
         padding-left: 0.5rem;
         padding-right: 0.5rem;
         margin: 0.5rem;
         display:inline;
       
       }
       p:hover{
        background-color: white;
        color: black;
       }
      #active{
        background-color: white;
        color: black;
       }
       
    }
    &__botones{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 15%;
        gap: 6rem;
        button{
            padding: 0.5rem;
            background-color: rgb(89, 179, 77);
            font-size: 1rem;
            border: none;
            border-radius: 0.5rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
        button:hover{
            opacity: 0.5;
        }
    }
    
   
}