.moviecard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    h3{
        color:#ff531a;
    }
    &__img{
        height: 400px;
        width: 300px;
    }
}

@media only screen and (max-width : 394px) {
    .moviecard{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 200px;
        height: 250px;
        
        
        h3{
            color:#ff531a;
        }
        &__img{
            height: 200px;
            width: 150px;
           
        }
    }
    }