.moviecard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 13rem;
    height: auto;
    h3{
        color:#ff531a;
    }
    &__img{
        height: 300px;
        width: 200px;
        
    }
}

@media only screen and (max-width : 394px) {
    .moviecard{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 130px;
        height: 250px;
        margin: 0%;
        padding: 0%;
        h3{
            color:#ff531a;
            
            font-size:0.5rem;
        }
        &__img{
            height: 200px;
            width: 150px;
            margin: 0%;
            padding: 0%;
           
        }
    }
    }